.borderless {
	border-top: 0 none;
}

.btn-vote-up{
	height:40px;
	background: #6bddbb;
	border-radius: 20px;
}

.btn-vote-down{
	height:40px;
	background:#000;
	color:	white;
	border-radius: 20px;
}
.btn-vote-down:hover{
	color:
	white;
}